<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-WeChatPayTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66072CA91D5087AC00282F42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66072CBD1D5087AD00282F42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66072CC81D5087AE00282F42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
